@charset "UTF-8";


.main a:link,.w3-top a:link { color: green; text-decoration: none;}

.main a:visited, .w3-top a:visited { color: green; text-decoration: none;}

.w3-top ul{
   list-style:none; 
   height:40px;
   text-shadow: 2px 2px 2px pink;
   font-size:20px;
   display:flex;
   width:1200px;
   margin-top:14px;
}

.main h1{
	color:green; 
	text-shadow: 2px 2px 2px black;
	font-family: 'Poor Story', cursive;
	padding-top:800px;
}
.main h4{
	color:black;
	text-shadow: 1px 1px 1px pink;
	font-family: 'Poor Story', cursive;
}
#oe{
	color:green;
	text-shadow: 1px 1px 1px black;
	font-family: 'Poor Story', cursive;
}
.main img{
	float:left;
}

html{
		position: relative;
		min-height: 900px;
}
	
#header{
		width: 1200px;
		height: auto;
		margin: auto;
}
#section{
		width:1200px;
		height:auto;
		margin: auto;
}
#footer{
	    clear:both;
	    width:1200px;
	    margin:auto;
	    bottom:0;
}
#f1{
	float:right;
	margin-right:20px;
	text-shadow: 2px 2px 2px pink;
    font-size:15px;
    color:green; 
}
.footer{
	margin-left:20px;
	text-shadow: 2px 2px 2px pink;
    font-size:15px;
    color:green; 
}
#cb{
   float:right;
}













