@charset "UTF-8";

   #h2{color:black;
       font-family: 'Gowun Dodum', sans-serif;
   }
   
   h2 a{color:grey; }
   h2 a:link{text-decoration:none;}
   h2 a:hover, td a:hover{color:green;}
   h2 a{text-shadow: none;}
   
 #deallist{
      align:center;
      margin:0 auto;
      width:1400px;
      font-family: 'Gowun Dodum', sans-serif;
	  font-size: 18px;
    }
   

 .searchicon {
     height: 50px;
     width: 50px;
     float: right;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 50%;
     color: white;
     background-color: green;
 }

 i:link {
     text-decoration: none
 }

    